@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {

    height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(180deg, rgb(220, 134, 0), rgb(209, 31, 47));
}

header {
    display: grid;
    
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: rgb(220, 134, 0); 
    padding: 20px;
    color: rgb(255, 241, 241);
    border: 1px solid rgb(209, 31, 47);
}
.logo{
    border-radius: 50%;
}


.menu{
    display: grid;
    grid-template-rows: 3;
    width: 100%;
}

.tab-gioia{
    grid-column: 1;
    grid-row: 1;
}
nav a {
    color: rgb(255, 241, 241);
    margin: 0 15px;
    text-decoration: none;
    border: 1px solid rgb(209, 31, 47);
}

#hero {
    background-image: url('tu-imagen.jpg'); 
    height: 300px;
    color: rgb(255, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#servicios ul {
    list-style: none;
    padding: 0;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.nombre{
    grid-column: 1;
    grid-row: 1;
  }
.email{
    grid-column: 1;
    grid-row: 2;
  }
  .descripcion{
    grid-column: 2;
    grid-row: 1 / 3;
  }

button {
    background: rgb(220, 134, 0);
    color: rgb(255, 241, 241);
    padding: 10px;
    border: none;
    cursor: pointer;
    grid-column: 3;
    grid-row: 1 / 3;
}
