body {

    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(180deg, rgb(220, 134, 0), rgb(209, 31, 47));
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: rgb(220, 134, 0); 
    padding: 20px;
    color: rgb(255, 241, 241);
    border: 1px solid rgb(209, 31, 47);
}

nav a {
    color: rgb(255, 241, 241);
    margin: 0 15px;
    text-decoration: none;
}

#hero {
    background-image: url('tu-imagen.jpg'); 
    height: 300px;
    color: rgb(255, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#servicios ul {
    list-style: none;
    padding: 0;
}

button {
    background: rgb(220, 134, 0);
    color: rgb(255, 241, 241);
    padding: 10px;
    border: none;
    cursor: pointer;
}
